.mat
LowPoly Guns
Library
Logs
Packages
ProjectSettings
Temp
UserSettings
Assets/LowPoly Guns.meta
Assets/New Folder.meta
*.meta
Assets/New Folder/ModularFirstPersonController/DemoScene/Demo.unity
*.mat
*.png
*.prefab
Assets/New Folder/ModularFirstPersonController/How To Use.pdf
*.fbx
*.unity
*.asset
*.unitypackage
Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf
*.txt
*.ttf
Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark01_UGUI.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark02.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark03.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/Benchmark04.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/ChatController.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/DropdownSample.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/EnvMapAnimator.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/ObjectSpin.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/ShaderPropAnimator.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/SimpleScript.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/SkewTextExample.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TeleType.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TextConsoleSimulator.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshProFloatingText.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TextMeshSpawner.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_DigitValidator.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_ExampleScript_01.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_FrameRateCounter.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_PhoneNumberValidator.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventCheck.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextEventHandler.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextInfoDebugTool.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_A.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_TextSelector_B.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_UiFrameRateCounter.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/TMPro_InstructionOverlay.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexColorCycler.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexJitter.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeA.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexShakeB.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexZoom.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/WarpTextExample.cs
Assets/TextMesh Pro/Examples & Extras/Sprites/DropCap Numbers.psd
*.jpg
*.psd
*.shader
*.cginc
*.json
Assets/Thirdparty/Ciathyza/Gridbox Prototype Materials/Demo/Prototype Materials Demo/Demo Lightmap Parameters.giparams
